[submodule "external/zlib"]
	path = external/zlib
	url = https://github.com/junegunn/vim-plug.git
[submodule "external/libpng"]
	path = external/libpng
	url = https://github.com/glennrp/libpng.git
[submodule "external/freetype"]
	path = external/freetype
	url = https://github.com/freetype/freetype.git
[submodule "external/elfloader"]
	path = external/elfloader
	url = https://github.com/xrw67/elfloader.git
